<footer class="site-footer">
  <div class="footer-inner container">
    <div class="footer-col">
      <h3>Glamorous Girls Haven</h3>
      <p>Your go-to beauty and lifestyle inspiration hub.</p>
    </div>

    <div class="footer-col">
      <h4>Categories</h4>
      <ul>
        <li><a href="/">All</a></li>
        <li><a href="/tag/skincare/">Skincare</a></li>
        <li><a href="/tag/haircare/">Haircare</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Follow us</h4>
      <div class="footer-social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-rss"></i></a>
      </div>
      <a href="/#/portal/signup/" class="subscribe-link">Subscribe</a>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 Glamorous Girls Haven • Published with <a href="https://ghost.org">Ghost</a></p>
  </div>
</footer>
